* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(3, 135pt);
    grid-template-rows: repeat(3, 135pt);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(3, 45pt);
    grid-template-rows: repeat(3, 45pt);
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.cell-container {
    width: 100%;
    height: 100%;
    border: 1pt solid rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: repeat(3, 15pt);
    grid-template-rows: repeat(3, 15pt);
    align-items: center;
    justify-content: center;
}